<div class="container">
        <div class="row">
          <% @posts.each do |post| %>
 <div class="container">
      
                   
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item" style="box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5); padding: 5px;">
                            <div class="row">
                                <div class="hidden-xs col-md-1">
                                 <%=image_tag post.user.image.url(:mini) if post.user.image?%>
                                </div>
                                <div class="col-xs-10 col-md-11">
                                    <div>
                                        <div class="mic-info">
                                             <a href="?user=<%=post.user.id%>"> <%=post.user.name%> </a>  
                                             <div align="right"> <mark <i><%=t('postg')%>: <%=post.created_at%></i></mark> </div>
                                        </div>
                                    </div>
                                   <hr>

                                    <div class="comment-text">
                                        <mark><i><%=t('postb')%></i></mark> 
                                       <b> <%=post.title%> </b> <br/> <br>
                                       <div align ="center" id="rootimage"> <%=image_tag post.image.url(:medium),class:"img img-responsive" if post.image?%> </div>
                                        <br/>
                                        <mark><i><%=t('postm')%></i></mark>
                                        <%=post.msg%>
                                    </div>
                                	
                                    <hr>
                                    <div class="action">
                                      <%= link_to t('sil'), post, :method => :delete, data: {confirm: 'Eminmisin?',commit: 'Evet'},class:"glyphicon glyphicon-trash" %>  &nbsp; &nbsp;
                                     <%= link_to t('duzenle'), edit_post_path(post),class:"glyphicon glyphicon-pencil" %>  &nbsp; &nbsp;
                                      <%= link_to t('goruntule'), post_path(post),class:"glyphicon glyphicon-hand-right" %>  <br>
          
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <%end%>
            </div>
        </div>
