<!DOCTYPE html>
<html>
<head>
  <title>Uygulama</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <script src="~/assets/javascripts/application.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body style="background-color:#FFFFE0;">
  <div class="container">
<%= render 'shared/navbar' %>
<%= yield %>
<%= render 'shared/footer' %>
</div>
</body>
</html>
